.how-it-works__wrapper {
}

.text-title__section {
}

.how-it-works__list {
  list-style: none;
}

.how-it-works__item {
  .size (100%;60px);
  outline: dashed black 1px;
  display: flex;

  &:nth-child(1) .how-it-works__img-wrapper {
    background-image: url(../../img/icon_leaf.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(2) .how-it-works__img-wrapper {
    background-image: url(../../img/icon_tub.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(3) .how-it-works__img-wrapper {
    background-image: url(../../img/icon_eat.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(4) .how-it-works__img-wrapper {
    background-image: url(../../img/icon_alarm.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.how-it-works__img-wrapper {
  .size(60px;60px);
  background-color: @basic-green;
  padding: 0;
}

