.page-footer {
}

.page-footer__wrapper {
  background-color: @grey;
}

.page-footer__name {
  background: url("../../img/footer-logo.svg") no-repeat center;
  min-height: 95px;
}

.page-footer__social {
}


.page-footer__copyright {
  min-height: 78px;
}
