.page-footer {
}

.page-footer__wrapper {
}

.page-footer__name {
  background: url(../../img/footer-logo\ 2.svg) no-repeat center;
  height: 24px;
}

.page-footer__social {
}

.social {
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social__item {
}

.social__link {
  &--facebook {
    stroke: @social-grey;
    fill: white;
  }

  &--facebook:hover,
  &--facebook:link {
    stroke: @basic-green;
    fill: white;
  }

  &--facebook:active {
    stroke: fade(@basic-green, 30%);
  }


  &--vk,
  &--insta {
    fill: @social-grey;
  }

  &--vk:hover,
  &--insta:hover {
    fill: @basic-green;
  }

  &--vk:active,
  &--insta:active {
    fill: fade(@basic-green, 30%);
  }
}


.page-footer__copyright {
}

.copyright {
  outline: 1px dashed aqua;
}

.copyright__link {
  display: flex;
  justify-content: space-between;

  & p {
    align-self: center;
    align-content: center;
  }

  & svg {
    fill: @social-grey;
    align-self: center;
  }
}
