.programm {
  border: 1px dashed blue;
}

.programm__wrapper {
  border: 1px dashed blue;
}

.programm-list {
  list-style: none;
}

.programm-item {
  background-color: @dark-grey;
  display: flex;
  flex-direction: column;
}

.text-uppercase__programm {

  font-size: 24px;
  line-height: 37px;
}

.programm-item__desc {

}

.programm-item__line {
  .size(240px;2px);
  background-color: #d9d9d9;
}

.programm-item__link-catalog {

}

.programm-item__arrow {

}
